<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @member_group.title %>
<% breadcrumb @member_group %>

<div class="card-block">
	<h1><%= yield :title %></h1>

	<% if admin? %>
	<p class="AdminCard-globalActions">
	  <%= custom_edit_link edit_member_group_path(@member_group) %>
	  <%= custom_list_link members_path if admin?  %>
	</p>
	<% end %>

	<%= textilize raw @member_group.description %>
</div>

<div class="card-block">
	<p><%= toggle_link 'Trier les clubs', '#members_filter', class: 'action_link' %></p>
	<%= form_tag filter_members_member_group_path, method: :patch, id: "members_filter", style: "display:none" do -%>
	<div class="inputs">
		Par activité : <%= check_all_links :female, '#activities_filter'  %>
		<ul id="activities_filter">
			<% @activities.each do |activity| %>
			<li>
				<%= check_box_tag "activities[#{activity.id}]", activity.id, (session[:activities].include?(activity.id.to_s) if session[:activities]), name: "activities[]" %>
				<%= image_tag activity.poster.url(:thumb), title: activity.title if activity.poster? %>
				<%= label_tag "activities[#{activity.id}]", activity.title %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="inputs omega">
		Par type de public : <%= check_all_links :male, '#public_types_filter' %>
		<ul id="public_types_filter">
			<% PublicType.all.each do |pt| %>
			<li>
				<%= check_box_tag "public_types[#{pt.id}]", pt.id, (session[:public_types].include?(pt.id.to_s) if session[:public_types]), name: "public_types[]" %>
				<%= label_tag "public_types[#{pt.id}]", pt.title %>
			</li>
			<% end %>
		</ul>
	</div>
	<p class="actionButton"><%= submit_tag "Filtrer" %></p>
	<% end %>
</div>

<div class="card-block">
	<% unless @markers.empty? %>
	<div class="map_container">
		<%= tailored_map(@markers) %>
	</div>
	<% end %>

	<% unless @published_members.empty? %>
	<h2>Membres ouverts au public</h2>
	<ul id="published_members">
		<% @published_members.each do |member| %>
		<li class="<%= cycle '', 'omega', name: 'published' %>">
			<%= link_to member.name, member, class: "js-append-trail" %>
			<% member.activities.each do |activity| %>
			<%= image_tag activity.poster.url(:thumb), title: activity.title if activity.poster.file? %>
			<% end %>
		</li>
		<% end%>
	</ul>
	<% end %>

	<% unless @private_members.empty? %>
	<h2>Membres fermés au public</h2>
	<ul id="private_members">
		<% @private_members.each do |member| %>
		<li class="<%= cycle '', 'omega', name: 'private' %>">
			<%= member.name %>
		</li>
		<% end%>
	</ul>
	<% end %>
</div>
