<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Calendrier des événements" %>
<% breadcrumb :calendar, @shown_month %>

<div class="card-block">
<h1><%= yield :title %></h1>

<% unless @last_update.nil?%>
<p class="last_update rounded_box">
	Date de dernière mise à jour : le <%= l @last_update.to_date %>
</p>
<% end %>

<%= form_tag filter_calendar_path, :method => :patch, :id => "event_types_filter_form" do -%>
	<ul id="event_types_filter">
		<% @all_event_types.each do |evt_type| %>
		<li style="background: <%= evt_type.color %>">
			<% label = labelize evt_type.title -%>
			<%= label_tag label, evt_type.title %>
			<%= check_box_tag "event_types[]", evt_type.id, @event_types.include?(evt_type), id: label %>
		</li>
		<% end -%>
	</ul>
	<p>
		<span class='no_print'>Afficher :</span>
		<%= select_month date_from_session, {}, :class => 'no_print' %>
		<%= select_tag :year, year_options, :class => 'no_print' %>
	</p>
	<%= submit_tag "Rafraîchir", :class => 'no_print' %>
<% end unless @all_event_types.empty? %>

<%= content_tag "div", id: "calendar", data: {month: @month.to_s.rjust(2,'0'), year: @year, 'event-types': @event_types.map(&:id).join('-'), events: @fullcalendar_events } do %>
<% end %>

<%= content_tag :dl, class: 'events' do %>
<%= render partial: 'event_list_item', collection: @events %>
<% end unless @events.empty? %>

	<div class="print_to_pdf">
		<%= link_to "Télécharger le PDF", calendar_pdf_path(:year => session[:cal_year], :month => session[:cal_month]),
			:class => 'no_print', :popup => true, rel: "nofollow" %>
	</div>

</div>
