<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Nos partenaires' %>
<div class="card-block">
<h1><%= yield :title %></h1>

<% @groups.each do |group| %>
<h2><%= group.title %></h2>
<% reset_cycle %>
<ul class="partners">
<% group.partners.each do |partner| %>
	<%= render 'partner_block', partner: partner %>
<% end -%>
</ul>
<% end -%>

<% unless @ungrouped_partners.empty? %>
<h2>Divers</h2>
<ul class="partners">
<% reset_cycle %>
<% @ungrouped_partners.each do |partner| %>
	<%= render 'partner_block', partner: partner %>
<% end -%>
</ul>
<% end -%>
</div>
