<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Liste des partenaires' %>

<div class="card-block AdminCard">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link 'Nouveau groupe', new_partners_group_path %>
  	<%= custom_add_link 'Nouveau partenaire', new_partner_path %>
  </p>

  <ul id="partner_list" class="AdminCard-list">
		<% @partners_groups.each do |pg| %>
    <li>
			<%= render "partners_group", :pg => pg %>
    </li>
		<% end %>

    <li>
      <h2><%= toggle_link "Divers", '#ungrouped' %>(<%= @ungrouped_partners.length %>)</h2>
      <ul id="ungrouped" style="display:none;">
      	<%= render @ungrouped_partners %>
      </ul>
    </li>
  </ul>
</div>
