<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Plan du site' %>
<section class="card-block">
	<h1><%= yield :title %></h1>

	<h2>Contenu principal</h2>
	<ul>
		<li><%= link_to " Accueil", root_path %></li>
		<li><%= link_to "Calendrier", calendar_path(:year => Time.now.year, :month => Time.now.month) %></li>

		<li>
			<span>LETTRES D'INFORMATION</span>
			<ul>
				<% Newsletter.for_nav.each do |newsletter| %>
				<li><%= link_to newsletter.title, newsletter %></li>
				<% end %>
				<li><%= link_to "Archives", newsletters_path %></li>
			</ul>
		</li>

		<% Menu.sanitized.each do |menu| %>
		<% if menu.should_be_displayed? %>
		<li>
			<span><%= menu.title.upcase %></span>
			<ul>
				<% menu.public_pages.each do |page| %>
				<li><%= link_to page.title, page %></li>
				<% end %>
			</ul>
		</li>
		<% end %>
		<% end %>
		<li>
			<span>ACTIVITÉS</span>
			<ul>
				<% ActivityCategory.all.each do |cat| %>
				<li><%= link_to cat.title, activity_category_path(cat) %></li>
				<% end %>
			</ul>
		</li>

		<% unless settings.map_member_groups.empty? %>
		<li>
			<span>OÙ PRATIQUER</span>
			<ul>
				<% settings.map_member_groups.each do |group| %>
				<li><%= link_to group.title, member_group_path(group) %></li>
				<% end %>
			</ul>
		</li>
		<% end %>

		<li>
			<span>ZONE MEMBRE</span>
			<ul>
				<% if logged_in? %>
				<li><%= link_to "Ma fiche", current_member %></li>
				<li><%= link_to "Se déconnecter", logout_path %></li>
				<% else %>
				<li><%= link_to "Se connecter", login_path %></li>
				<% end -%>
			</ul>
		</li>
	</ul>

	<h2>Contenu annexe</h2>
	<ul>
		<% if Menu.footer.should_be_displayed? %>
		<% Menu.footer.public_pages.each do |page| %>
		<li><%= link_to page.title, page %></li>
		<% end %>
		<% end unless Menu.footer.nil? %>
		<li><%= link_to "Partenaires", display_partners_path if Partner.count > 0 %></li>
		<% if settings.contact_email.present? or settings.contact_message.present? %>
		<li><%= link_to "Nous contacter", new_contact_us_path %></li>
		<% end %>
	</ul>

</section>
