<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<p><%= redcloth_help %></p>

<%= simple_nested_form_for @newsletter do |f| %>

	<div class="tabs">
		<ul>
			<li><a href="#general">Général</a></li>
			<li><a href="#items">Informations</a></li>
			<li><a href="#partners">Partenaires</a></li>
		</ul>
		<div id="general">
			<%= f.input :title %>
			<%= f.input :published %>		
		</div>
		<div id="items">
			<%= f.fields_for :items %>
			<p><%= f.link_to_add "Ajouter un item", :items %></p>		
		</div>
		<div id="partners">
			<%= f.association :partners, collection: @partners, as: :check_boxes %>
		</div>
	</div>

	<p><%= f.button :submit %></p>
<% end %>