<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% item = f.object %>
<% id = item.id %>
<div class="edit_newsletter_item">
	<p><%= f.link_to_remove "Supprimer l'item" %></p>
	<div class="tabs">
		<ul>
			<li><a href="#general-<%= id %>">Général</a></li>
			<li><a href="#activities-<%= id %>">Activités</a></li>
			<li><a href="#attachments-<%= id %>">Pièces jointes</a></li>
			<li><a href="#images-<%= id %>">Images</a></li>
		</ul>
		<div id="general-<%= id %>">
			<%= f.input :title, input_html: {class: "small_text"} %>
			<%= f.input :content %>
		</div>
		<div id="activities-<%= id %>">
			<%= f.association :activities, as: :check_boxes %>
		</div>
		<div id="attachments-<%= id %>">
			<%= render 'attached_files_form', :f => f %>
		</div>
		<div id="images-<%= id %>">
			<%= render 'images_form', :f => f %>
		</div>
	</div>
</div>
