<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @newsletter.title %>
<% breadcrumb @newsletter %>

<div id="newsletter">
	<hgroup>
		<h1><%= settings.newsletters_title %> - <%= yield :title %></h1>
    <% if admin? %>
    <p class="AdminCard-globalActions">
      <%= custom_edit_link edit_newsletter_path(@newsletter) %>
    </p>
    <% end %>
	</hgroup>

	<span id="reference"><%= newsletter_url(@newsletter) %></span>


	<ul id="newsletter_items">
	<% @newsletter.items.ordered.each do |item| %>
		<li class="newsletter_item">
			<div class="item_desc">
				<h2>
          <% if admin? %>
          <span class="no_print">
            <%= custom_move_up_link move_up_item_path(item), :short, class: %w(tight) unless item.first? %>
            <%= custom_move_down_link move_down_item_path(item), :short, class: %w(tight) unless item.last? %>
          </span>
          <% end -%>
          <%= raw textilize_without_paragraph item.title %>
        </h2>

				<%= textilize raw item.content %>

				<% unless item.attached_files.empty? %>
				<h3>Pièces jointes</h3>
					<dl class="attachments">
						<%= render partial: 'attachment', collection: item.attached_files %>
					</dl>
				<% end -%>
			</div>
			<div class="item_aside">
				<ul class="activities">
				<% item.activities.each do |activity| %>
					<li>
						<% if activity.poster? %>
							<%= image_tag activity.poster.url(:standard), title: activity.title %>
						<% else %>
							<%= activity.title %>
						<% end %>
					</li>
				<% end %>
				</ul>
				<ul class="gallery">
					<% item.images.each do |img| %>
					<li>
						<%= link_to image_tag(img.img_file.url(:thumb), alt: img.title, class: "photo"), img.img_file.url(:large), rel: "prettyPhoto[gallery-#{item.id.to_s}]" %>
					</li>
					<% end %>
				</ul>
				<% unless item.images.empty? %>
				<span class="images-number"><%= item.images.length %> image(s)</span>
				<% end %>
			</div>
		</li>
	<% end %>
	</ul>

	<div id="partners">
		<ul class="partners">
		<% @partners.each do |partner| %>
			<li class="<%= cycle "", "", "omega" %>"><%= partner_link partner, :thumb, false %>
			</li>
		<% end %>
		</ul>

		<% if @newsletter.has_pdf? %>
		<div class="print_to_pdf"><%= link_to "Version imprimable", newsletter_path(@newsletter, format: :pdf), rel: "nofollow" %></span>
		<% end %>
	</div>

</div>
