<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<article class="card-block">
  <h1><%= yield :title %></h1>
  <p class="AdminCard-globalActions">
    <%= custom_edit_link edit_member_path(@member) if current_member == @member || admin? %>
    <%= custom_list_link members_path if admin? %>
  </p>

  <div id="public-stuff">
    <%= content_tag :p, @member.description %>

    <div id="offer">
      <%= content_tag :section do %>
      <h2>Public concerné</h2>
      <ul>
        <% @member.public_types.each do |public_type| %>
        <li><%= public_type.title %> <%= "(" + public_type.description + ")" if public_type.description.present? %></li>
        <% end %>
      </ul>
      <% end unless @member.public_types.empty? %>

      <%= content_tag :section, class: 'omega' do %>
      <h2>Activités proposées</h2>
      <ul>
        <% @member.activities.each do |activity| %>
        <li>
          <% if activity.poster? %>
          <%= link_to "#{image_tag activity.poster.url(:thumb)} #{activity.title}".html_safe, activity_path(activity) %>
          <% else %>
          <%= link_to activity.title, activity_path(activity) %>
          <% end -%>
        </li>
        <% end %>
      </ul>
      <%= content_tag :p, @member.other_activities unless @member.other_activities.blank?  %>
      <% end unless @member.activities.empty? %>
    </div>

    <section>
      <h2>Adresse du siège</h2>
      <%= simple_format @member.address %>
      <h2>Site internet</h2>
      <p><%= link_to @member.website, @member.website, :class => 'externe' if @member.website.present? %></p>
      <h2>Autres coordonnées</h2>
      <%= simple_format @member.join_us %>
    </section>

    <section class="omega">
      <h2>Numéro d'affiliation</h2>
      <p><%= @member.affiliation_number %></p>
      <h2>Nos partenaires</h2>
      <p><%= @member.partners %></p>
      <h2>Informations complémentaires</h2>
      <p><%= @member.more_info %></p>
    </section>
  </div>
</article>
