<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<li class="club_novel">
  <div class="description">
    <h2>
      <% if admin? %>
      <span class="no_print">
        <%= custom_edit_link edit_club_novel_path(club_novel), :short, class: %w(tight) %>
        <%= custom_delete_link club_novel, :short, class: %w(tight) %>
      </span>
      <% end -%>

      <%= raw textilize_without_paragraph club_novel.title %>
    </h2>

    <%= textilize raw club_novel.content %>

    <% unless club_novel.attached_files.empty? %>
    <h3>Pièces jointes</h3>
      <dl class="attachments">
        <%= render partial: 'attachment', collection: club_novel.attached_files %>
      </dl>
    <% end -%>
  </div>
  <div class="aside">
    <ul class="activities">
    <% club_novel.activities.each do |activity| %>
      <li>
        <% if activity.poster? %>
          <%= image_tag activity.poster.url(:standard), title: activity.title %>
        <% else %>
          <%= activity.title %>
        <% end %>
      </li>
    <% end %>
    </ul>
    <ul class="gallery">
      <% club_novel.images.each do |img| %>
      <li>
        <%= link_to image_tag(img.img_file.url(:thumb), alt: img.title, class: "photo"), img.img_file.url(:large), rel: "prettyPhoto[gallery-#{club_novel.id.to_s}]" %>
      </li>
      <% end %>
    </ul>
    <% unless club_novel.images.empty? %>
    <span class="images-number"><%= club_novel.images.length %> image(s)</span>
    <% end %>
  </div>
</li>
