<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Nous contacter" %>
<div id="contactUs">
	<h1><%= yield :title %></h1>

	<%= simple_form_for @mail, url: contact_us_path, html: {class: (@contact_message.present? ? '' : 'alone')} do |f| %>
	<%= f.input :last_name %>
	<%= f.input :first_name %>
	<%= f.input :nickname, as: :hidden %>
	<%= f.input :email %>
	<%= f.input :phone_number %>
	<%= f.input :subject %>
	<%= f.input :body, :as => :text %>
	<p><%= f.button :submit %></p>
	<% end if settings.contact_email.present? %>

	<%= content_tag :div, id: "message", class: (settings.contact_email.present? ? '' : 'alone') do %>
		<%= textilize @contact_message %>
	<% end if @contact_message.present? %>
</div>
