<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<h3>
  <span class="no_print">
    <%= custom_delete_link event, :short, class: %w(tight) %>
    <%= custom_edit_link edit_event_path(event), :short, class: %w(tight) %>
    <%= custom_show_link event, event.title, :normal, class: %w(tight) %>
  </span>
  <%= content_tag :span, "(%s)" % event.event_type.title, style: "color: #{event.event_type.color}" unless event.event_type.nil? %>
</h3>
<p class="condensed">
  <i class="fa fa-calendar" title="Commençant au"></i>
  <%= event.begin_at.blank? ? 'Début inconnu' : l(event.begin_at.to_datetime, :format => :short) %> <%= "(%ij)" % event.remaining_days if event.remaining_days  %>
  <i class="fa fa-caret-right" title="Jusqu'au"></i>
  <%= event.end_at.blank? ? 'Fin inconnue' : l(event.end_at.to_datetime, :format => :short) %>

  <%= content_tag :span do %>
	<i class="fa fa-map-marker" title="Lieu"></i>
	<%= event.location %>
	<% end unless event.location.blank? %>

  <%= content_tag :span do %>
	<i class="fa fa-info-circle" title="Tarif"></i>
	<%= event.price %>
	<% end unless event.price.blank? %>
</p>
