<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<p><%= redcloth_help %></p>

<%= simple_nested_form_for @event, html: { multipart: true } do |f| %>
	<div class="tabs">
		<ul>
			<li><a href="#general">Général</a></li>
			<li><a href="#event_activities">Activités (<%= @event.activities.count %>)</a></li>
			<li><a href="#attachments">Pièces jointes (<%= @event.attached_files.count %>)</a></li>
		</ul>
		<div id="general">
			<%= f.input :title %>
			<%= f.input :description %>
			<%= f.input :begin_at, as: :date_picker %>
			<%= f.input :end_at, as: :date_picker %>
			<%= f.association :event_type, prompt: "Choisir un type d'évenement" %>
			<%= f.input :location, hint: ban_data_gouv_fr_map %>
			<%= f.input :price, input_html: {class: "small_string"} %>
		</div>
		<div id="event_activities">
			<%= f.association :activities, as: :check_boxes, label: "" %>
		</div>
		<div id="attachments">
			<%= render 'attached_files_form', :f => f %>
		</div>
	</div>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>