<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Liste des événements" %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_show_link event_types_path, "Types d'événement" %>
  	<%= custom_add_link "Nouvel événement", new_event_path %>
  </p>

  <ul class="AdminCard-list event_list">
    <% unless @unscheduled_events.empty? %>
    <li>
    	<h2>
    		<%= toggle_link "Non planifiés (#{@unscheduled_events.count})", '#time-unscheduled' %>
    	</h2>
    	<div id="time-unscheduled" style="display:none;">
    	<%= render :partial => 'event', :collection => @unscheduled_events %>
      </div>
    </li>
    <% end %>
    <% unless @current_events.empty? %>
    <li>
    	<h2>
    		<%= toggle_link "En cours (#{@current_events.count})", '#time-current' %>
      </h2>
    	<div id="time-current" style="display:none;">
    	<%= render :partial => 'event', :collection => @current_events %>
      </div>
    </li>
    <% end %>
    <% unless @events_to_come.empty? %>
    <li>
    	<h2>
    		<%= toggle_link "A venir (#{@events_to_come.count})", '#time-soon' %>
      </h2>
    	<div id="time-soon" style="display:none;">
    	<%= render :partial => 'event', :collection => @events_to_come %>
      </div>
    </li>
    <% end %>
    <% unless @passed_events.empty? %>
    <li>
    	<h2>
    		<%= toggle_link "Passés (#{@passed_events.count})", '#time-elapsed' %>
    	</h2>
    	<div id="time-elapsed" style="display:none;">
        <%- @seasoned_passed_events.each do |season, events| %>
          <div>
            <% season_label = season.downcase.gsub(/\s/, '_') %>
            <%= toggle_link "#{ season } (#{ events.length })", "##{season_label}"  %>
            <div id="<%= season_label %>" style="display:none;">
              <%= render :partial => 'event', :collection => events %>
            </div>
          </div>
        <%- end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
