<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @event.title  %>
<% breadcrumb @event %>

<article class="event_details">
	<h1>
		<%= yield :title %>
		<%= content_tag :small, @event.event_type.title unless @event.event_type.nil? %>
	</h1>

	<% if admin? %>
  <p class="AdminCard-globalActions">
    <%= custom_delete_link @event, :short %>
    <%= custom_edit_link edit_event_path(@event), :short %>
    <%= custom_list_link events_path %>
	</p>
	<% end %>

	<%= textilize raw @event.description %>

	<p class="infos">
		<i class="fa fa-calendar" title="Commençant au"></i>
	  <%= @event.begin_at.blank? ? 'Début inconnu' : l(@event.begin_at.to_datetime, :format => :long) %>
		<i class="fa fa-caret-right" title="Jusqu'au"></i>
		<%= @event.end_at.blank? ? 'Fin inconnue' : l(@event.end_at.to_datetime, :format => :long) %>
	</p>

	<% unless @event.location.blank? %>
	<p class="infos">
		<i class="fa fa-map-marker" title="Lieu"></i>
		<%= @event.location %>
	</p>

	<% unless @markers.empty? %>
	<div class="map_container map_container-mini">
		<%= tailored_map(@markers) %>
	</div>
	<% end %>

	<% end  %>

	<%= content_tag :p, class: "infos" do %>
	<i class="fa fa-info-circle" title="Tarif"></i>
	<%= @event.price %>
	<% end unless @event.price.blank? %>

	<% unless @event.activities.empty? %>
	<p>
		<h2>Activités :</h2>
		<ul>
			<% @event.activities.each do |activity| %>
				<li><%= link_to activity.title, activity_path(activity) %></li>
			<% end %>
		</ul>
	</p>
	<% end %>

	<%= render 'attachments', data: @event.attached_files %>
</article>
