<li class="subscription">
  <%= custom_edit_link edit_member_subscription_path(subscription.member, subscription), :short, class: %w(tight) %>
  <%= custom_delete_link member_subscription_path(subscription.member, subscription), :short, class: %w(tight) %>
  <%= internal_subscription_label(subscription) %>
</li>
