<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Plateforme Sports et Troubles psychiques" %>

<%= form_tag platform_path, method: :get, id: "season-selector" do %>
  <%= label_tag :season, "Saison" %>
  <%= select_tag :season, options_for_select(Season.all(Subscription, :created_at).reverse, params[:season]) %>
	<%= submit_tag "Afficher" %>
<% end %>

<% if @season %>
<div id="admin-platform" class="tabs">
  <ul>
    <li><a href="#subscriptions-by-club">Adhésions par club</a></li>
    <li><a href="#subscriptions-by-org">Adhésions par structure</a></li>
  </ul>
  <div id="subscriptions-by-club">
    <h2>
      Liste des adhésions par club partenaire
      <span><%= Statistics::Pass::Global.new(@collaborating_clubs.to_a, @season).label %></span>
      <span><%= Statistics::Billing::Global.new(@collaborating_clubs.to_a, @season).label %></span>
    </h2>
    <%- @collaborating_clubs.each do |club| %>
      <h3>
        <%= link_to club.name, club %>
        <span><%= Statistics::Pass::Unit.new(club, @season).label %></span>
        <span><%= Statistics::Billing::Unit.new(club, @season).label %></span>
      </h3>
      <ul id="member-<%= club.id %>">
      <%- club.subscriptions.for_season(@season).by_adherent_name.each do |subscription| %>
        <li class="subscription">
          <%= custom_edit_link edit_member_subscription_path(club, subscription), :short, class: %w(tight) %>
          <%= custom_bill_link toggle_billing_member_subscription_path(club, subscription), :short, class: ['tight', subscription.billing_status] if subscription.multipass? %>
          <%= custom_delete_link member_subscription_path(club, subscription), :short, class: %w(tight) %>
          <%= internal_subscription_label(subscription) %>
        </li>
      <%- end %>
      </ul>
    <%- end %>
  </div>
  <div id="subscriptions-by-org">
    <h2>
      Liste des adhésions par structure
      <span><%= Statistics::Pass::Global.new(@orgs.to_a, @season).label %></span>
    </h2>
    <h3>Structures référencées</h3>
    <%- @orgs_in_db.each do |org, subscriptions| %>
      <h4>
        <%= link_to org.name, org %>
        <span><%= Statistics::Pass::Unit.new(org, @season).label %></span>
      </h4>
      <ul id="member-<%= org.id %>">
        <%= render partial: 'subscription', collection: subscriptions %>
      </ul>
    <%- end %>
    <h3>Structures non référencées</h3>
    <%- @orgs_not_in_db.each do |org, subscriptions| %>
      <h4>
        <%= org.name %>
        <span><%= Statistics::Pass::Unit.new(org, @season).label %></span>
      </h4>
      <ul id="member-<%= org.name.crypt('name').gsub('/','') %>">
        <%= render partial: 'subscription', collection: subscriptions %>
      </ul>
    <%- end %>
  </div>
</div>
<% end %>
