<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% logo = f.object %>
<div class="edit_logo">
	<% if logo.new_record? %>
		<%= f.label :img, "Fichier" %>
		<%= f.file_field :img %>
	<% else %>
		<div class="accordion">
		<% [:thumb, :midi, :maxi].each do |size| %>
			<h3><%= t "logos.#{size}" %></h3>
			<div>
				<% target = "code-#{size}-#{logo.id}" %>
				<p>
					Code <span class="image_code" id=<%= target %>><%= "!#{logo.img.url(size)}(--texte alternatif--)!" %></span>
					<i class="fa fa-clipboard clipboard-btn" data-clipboard-action="copy" data-clipboard-target=<%= "##{target}" %> aria-hidden="true"></i>

				</p>
				<%= image_tag logo.img.url(size) %>
			</div>
		<% end %>
		</div>
		<p>Affichée en haut <%= f.check_box :displayed %></p>
		<p><%= f.link_to_remove "Supprimer l'image" %></p>
	<% end %>
</div>
