<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Liste des pages' %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link 'Nouveau menu', new_menu_path %>
  	<%= custom_add_link 'Nouvelle page', new_page_path %>
  </p>

  <ol id="page_list" class="AdminCard-list">
  	<% @menus.each do |menu| %>
  	<li>
  		<%= render "menu", menu: menu %>
  	</li>
  	<% end %>
  	<% unless @unmenued_pages.empty? %>
  	<li>
      <h2>
        <%= toggle_link "Non rattachée(s) à un menu", '#menu-nil' %>
        (<%= @unmenued_pages.count %>)
      </h2>
      <div id="menu-nil" style="display: none;">
    		<ul>
    			<%= render partial: 'page', collection: @unmenued_pages, locals: { positionnable: false } %>
    		</ul>
      </div>
  	</li>
  	<% end %>
  </ol>
</div
