<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @page.title %>

<article class="card-block">
	<% breadcrumb @page %>
	<h1><%= yield :title %></h1>

	<% if admin? %>
	<p class="AdminCard-globalActions">
		<%= custom_edit_link edit_page_path(@page) %>
		<%= custom_list_link pages_path %>
	</p>
	<% end %>

	<% @page.logos.displayed.each do |logo| %>
		<%= image_tag logo.img.url(:thumb) %>
	<% end %>

	<%= textilize raw @page.content %>

	<%= render 'attachments', data: @page.attached_files %>
</article>
