<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<div class="tabs">
	<ul>
		<li><a href="#general">Général</a></li>
		<li><a href="#attachments">Pièces jointes (<%= novel.attached_files.length %>)</a></li>
		<li><a href="#activities">Activités</a></li>
	</ul>
	<div id="general">
		<%= f.association :novel_type, prompt: "Choisir un type d'information", include_blank: 'Aucun' %>
		<%= f.input :title %>
		<%= f.input :content %>
		<%= f.input :picture %>
		<% if f.object.picture? %>
		<%= image_tag f.object.picture.url(:thumb) %>
		<%= f.label :_destroy, "Supprimer l'illustration" %>
		<%= f.check_box :_destroy %>
		<% end %>
		<%= f.input :public, as: :radio_buttons %>
		<%= f.input :template, as: :radio_buttons %>
	</div>
	<div id="attachments">
		<%= render 'attached_files_form', :f => f %>
	</div>
	<div id="activities">
		<%= f.association :activities, as: :check_boxes %>
	</div>

</div>