<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Les informations et leurs types' %>

<div class="card-block AdminCard">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link "Nouveau type d'information", new_novel_type_path %>
  	<%= custom_add_link 'Nouvelle information', new_novel_path %>
  </p>

  <ul id="novel_list" class="AdminCard-list">

    <% unless @templates.empty? %>
    <li>
      <h2><%= toggle_link "Modèles (#{@templates.count})", '#templates' %></h2>
      <ul id="templates" style="display:none;">
        <%= render partial: 'novel', collection: @templates %>
      </ul>
    </li>
    <% end %>

  	<% @novel_types.each do |type| %>
  	<li>
      <h2>
        <%= toggle_link "#{type.title} (#{type.novels.without_templates.count})", "#nt-#{type.id}" %>
      </h2>
      <div id="nt-<%= type.id %>" style="display:none;">
        <p class="AdminCard-headingActions">
          <%= custom_delete_link type, :short, { class: %w(tight) } %>
          <%= custom_edit_link edit_novel_type_path(type), :short, { class: %w(tight) } %>
          <%= custom_primary_show_link type, :short, { class: %w(tight) } %>
        </p>
        <ul>
    			<%= render partial: 'novel', collection: type.novels.without_templates %>
    		</ul>
      </div>
  	</li>
  	<% end %>

  	<% unless @untyped_novels.empty? %>
  	<li>
  		<h2><%= toggle_link "Informations sans type", '#untyped' %>(<%= @untyped_novels.length %>)</h2>
  		<ul id="untyped" style="display:none;">
  			<%= render partial: 'novel', collection: @untyped_novels %>
  		</ul>
  	</li>
  	<% end %>
  </ul>
</div>
