<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @novel.title %>
<% breadcrumb @novel %>

<article class="card-block">
	<p class="label"><%= @novel.novel_type_label %></p>
	<p class="label activities"><%= @novel.activities_label %></p>
	<h1><%= yield :title %></h1>

	<% if admin? %>
  <p class="AdminCard-globalActions">
    <%= custom_delete_link @novel, :short %>
    <%= custom_edit_link edit_novel_path(@novel), :short %>
    <%= custom_list_link novels_path %>
		<%= custom_mail_link new_email_path(:novel_id => @novel.id) %>
		<%= custom_copy_link duplicate_novel_path(@novel) %>
	</p>
	<% end %>

	<%= image_tag @novel.picture.url(:thumb), id: "novel_picture" if @novel.picture? %>

	<%= textilize raw @novel.content %>

	<%= render 'attachments', data: @novel.attached_files %>

	<% if admin? %>
	<p id="novel_public">
		<span class="item">Publique :</span> <%= @novel.public_label %>
	</p>
	<p id="novel_template">
		<span class="item">Modèle :</span> <%= @novel.template_label %>
	</p>
	<% end %>
</article>
