<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Liste des types de contacts" %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link 'Nouveau type de contact', new_contact_type_path %>
    <%= custom_link 'fa-list', 'Retour à la liste des membres', members_path %>
  </p>

  <ul id="contact_type_listing" class="AdminCard-list">
    <% @contact_types.each do |contact_type| %>
    <li>
      <h3>
        <span class="no_print">
          <%= custom_delete_link contact_type, :short, class: %w(tight) %>
          <%= custom_edit_link edit_contact_type_path(contact_type), :short, class: %w(tight) %>
        </span>
        <%= contact_type.title %>
      </h3>
    </li>
    <% end %>
  </ul>
</div>
