<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<script type="text/javascript">
  var refreshSubscriptionOptionPath = "<%= option_member_subscriptions_path(@member) %>";
</script>

<%= simple_nested_form_for [@member, @subscription] do |f| %>
  <%= f.fields_for :adherent do |a| %>
    <%= a.input :last_name %>
    <%= a.input :first_name %>
    <%= a.input :born_on, as: :date_picker %>
    <%= a.input :permit_number %>
    <%= a.association :medico_social_org, collection: @medico_social_orgs, include_blank: "Autre", required: true  %>
    <%= a.input :other_medicosocial_org, required: true %>
  <% end %>
  <%= f.association :performances, as: :check_boxes, collection: @available_performances, label_method: :title_for_subscription_form %>
  <div id="subscription-option">
  </div>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>
