<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "subscription-card", media: :all %>
</head>
<body class="subscription_card">
  <header>
    <h1><%= card_header(@subscription) %></h1>
  </header>
  <section id="data">
    <img class="photo">
    <dl>
      <dt>Nom</dt>
      <dd><%= @subscription.adherent.last_name %></dd>
      <dt>Prénom</dt>
      <dd><%= @subscription.adherent.first_name %></dd>
			<dt>Numéro de licence FFSA</dt>
      <dd><%= @subscription.adherent.permit_number %></dd>
      <dt>Numéro d'adhérent plateforme</dt>
      <dd><%= @subscription.platform_number %></dd>
      <dt>Club d'origine</dt>
      <dd><%= @member.name %></dd>
      <dt>Structure médico-sociale</dt>
      <dd><%= @subscription.adherent.medico_social_org_name %></dd>
    </dl>
  </section>
  <section id="cover">
		<div>
			<%= image_tag "ffsa-hands.svg" %>
			<span class="blue">PLATEFORME</span>
			<span class="red">SPORTS & TROUBLES PSYCHIQUES</span>
			<span class="blue"><%= @subscription.season.label.upcase %></span>
		</div>
  </section>
</body>
