<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @activity_category.title %>
<% breadcrumb @activity_category %>

<article>
	<div class="card-block">
		<h1><%= yield :title %></h1>
		<% if admin? %>
		<p class="AdminCard-globalActions">
			<%= custom_edit_link edit_activity_category_path(@activity_category), :short %>
			<%= custom_list_link activities_path %>
		</p>
		<% end %>

		<%= textilize raw @activity_category.description %>
	</div>

	<% @activities.each do |activity| %>
		<div class="activity_desc <%= cycle '', 'omega' %>">
			<h2><%= h activity.title %></h2>
			<%= image_tag activity.poster.url(:standard) if activity.poster.file? %>
			<div class="text <%= activity.poster? ? '' : 'pushed'%>">
				<%= textilize raw activity.presentation %>
				<p><%= link_to "En savoir plus", activity, class: "js-append-trail" %></p>
			</div>
		</div>
	<% end unless @activities.empty? %>
	<hr class="separation">
</article>
