<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
Bonjour,

Votre mot de passe a été réinitialisé par un administrateur du site du <%= ENV['APP_NAME'] %>. Vos éléments de connexion sont désormais :

Identifiant : <%= @member.login %>
Mot de passe : <%= @member.default_password %>

Pour vous connecter à la zone membre du site, allez sur le site (lien en signature) et dans le menu Zone Membre cliquez sur "Se connecter"

Une fois connecté, il est vivement recommandé d'aller modifier votre mot de passe dans votre profil. Vous pourrez alors avoir un mot de passe personnalisé.

Si vous rencontrez des soucis particulier, n'hésitez pas à nous contacter en répondant au présent mail.

Cordialement
Les administrateurs du site <%= ENV['APP_NAME'] %>
