<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @event_type.title %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <% if admin? %>
  <p class="AdminCard-globalActions">
    <%= custom_edit_link edit_event_type_path(@event_type) %>
    <%= custom_list_link event_types_path %>
  </p>
  <% end %>

  <%= textilize raw @event_type.description %>

  <% unless @seasoned_events.blank? %>
  	<div id="associated_event">
  		<span class="item">Evénements associés :</span> <span class="not_ga_published">Non publié sur GA</span>
  		<ul>
  			<% @seasoned_events.each do |season, events| %>
  				<% season_label = season.downcase.gsub(/\s/, '_') %>
  					<li>
  						<%= toggle_link season, "##{season_label}"  %>
  						<ul id="<%= season_label %>" style="display:none;">
  							<% events.each do |event| %>
  							<li>
  								<span class="<%= event.ga_evt_id.present? ? '' : 'not_ga_published' %>">
  								<%= event.title %>
  								(<%= l event.begin_at.to_date unless event.begin_at.blank? %>)
  								</span>
  							</li>
  							<% end %>
  						</ul>
  					</li>
  			<% end %>
  		</ul>
  		<%= form_tag update_ga_events_event_type_path(:id => @event_type), :method => :patch do -%>
  			<%= submit_tag "Créer les événements GA manquants", :class => 'no_print' %>
  		<% end %>
  	</div>
  <% end %>
</div>
