/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#contactUs {
	@extend .card-block;
	@include clearfix();

	form {
		@include span-columns(4);

		input, textarea {
			@include border-radius(3px);
			border: 1px solid $oligaa-blue;
			font-size: 0.9em;
			width: 100%;
		}

		input  {
			line-height: 1.8;

			&[type="submit"] {
				@include background(linear-gradient(#1D65A6, $oligaa-blue));
				@include pie;
				color: $white;

				&:active {
					@include background(linear-gradient($oligaa-blue, #1D65A6));
				}
			}
		}
	}

	#message {
		@include span-columns(4 omega);

		&.alone {
			@include remove-omega;
		}
	}

	.alone {
		@include pre(2);
	}
}
