/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#content #contacts .edit_contact {
	@extend .attachment-edition;
	label {
		display: inline-block;
		margin-right: 10px
	}
	div.more-info {
		p {display: inline;}
		margin-top: 5px;
	}
	li.edit_phone_number {
		margin:0;
		padding: 0;
		p, a.remove_nested_fields {display: inline}
	}
}

#content #contacts, #contacts #phone_numbers_form {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

#content #edit_public_types {
	margin-top: 5px;
}