/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#member_groups {
	padding: 0;
	margin: 5px 0;
	li {
		list-style-type: none;
	}
}

#published_members, #private_members {
	@include inline-block-list();
	list-style: none;
	margin: 0 1em;

	li {
		@include span-columns(8 omega, 8);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include at-breakpoint($medium-columns) {
			@include span-columns(4, 8);

			&.omega {
				@include omega;
			}
		}
	}
}

div.map_container {
	width: 100%;
	margin: auto;
	padding-bottom: 1em;

	div#map {
		width: 100%;
		height: 256px;

		@include at-breakpoint($medium-columns) {
			height: 512px;
		}
	}

	div.map_legend {
		border: 1px solid #bbb;
		margin-top: 10px;
		padding: 10px 5px;
		ul {
			font-weight: bold;
			li {
				font-size: 125%;
				margin: 5px 0;
			}
		}
	}
}

form#members_filter {
	@include clearfix;
	padding: 1em;

	.inputs {
		@include span-columns(8 omega, 8);
		@include at-breakpoint($medium-columns) {
			@include span-columns(4, 8);
			@include omegable;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;

			label {
				display: inline;
			}
		}
	}

	.actionButton {
		clear: both;
		text-align: center;

		input[type="submit"] {
			@include background(linear-gradient(#1D65A6, $oligaa-blue));
			@include border-radius(3px);
			@include span-columns(4, 8);
			@include pre(2, 8);
			@include pie;
			border: 1px solid $oligaa-blue;
			color: $white;
			font-size: 1em;

			&:active {
				@include background(linear-gradient($oligaa-blue, #1D65A6));
			}
		}

	}
}
