/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

body #page {
	nav#main-nav {
		@extend .card-block;
		color: $oligaa-blue;
		text-align: center;

		ul#menus {
			@include gradient-li-separated;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				position: relative;

				&.menu_item {
					padding: 0.6em 0;

					span.menu_title {
						display: block;
						font-size: 90%;
						font-weight: 600;
						margin: 0 0 0.5em;
						text-transform: uppercase;
					}

					a {
						font-size: 1.25em;
						font-weight: 300;
					}
				}

				&.current {

					&:before, &:after {
						content: '';
						height: 100%;
						position: absolute;
						top: 0;
						width: 0.5em;
					}
					&:before {
						left: -0.5em;
					}
					&:after {
						right: -0.5em;
					}

					a {
						color: inherit;
					}
				}
			}
		}
	}
}

#toggleMenu {
	@extend .card-block;
	@include background(linear-gradient($grey, $dark-grey));
	color: $white;
	display: block;
	width: 100%;

	@include at-breakpoint($medium-columns) {
		display: none;
	}

	.fa {
		font-size: 120%;
	}

	.fa-long-arrow-left {
		display: none;
	}

	#columns.menu-shown & {
		.fa-long-arrow-left {
			display: inline-block;
		}

		.fa-long-arrow-right {
			display: none;
		}
	}
}
