/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#home_message {
	@extend .card-block;
	text-align: center;
}

p, span {
	&.label {
		color: $oligaa-red;
		font-size: 1em;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

body #page #columns #content #home_news {

	> hgroup {
		@extend .card-block-narrow;
		@include clearfix();

		> h1 {
			@include span-columns(6);
			margin: 0 -0.5em 0 0.5em;
			padding: 0;
			text-align: left;
			font-size: 110%;
			color: $oligaa-blue;

			small {
				font-size: 85%;
			}
		}
		> a {
			@include span-columns(2 omega);
			text-align: right;
			&:after {
				@include font-awesome("\f09e");
				padding: 0.5em;
			}
		}
	}

	ul#news {
		list-style: none;
		margin: 0;

		> li {
			@extend .card-block-narrow;
			@include clearfix();
			padding: 0;
			position: relative;

			.thumb {
				@include span-columns(1);
			}

			.content {
				@include span-columns(7 omega);
				padding-bottom: 4em; // More info overlap

				span.label {
					background-color: $oligaa-yellow;
					color: white;
					@include float-right;
					@include border-bottom-left-radius(3px);
					padding: 0 0.5em;
					font-weight: 600;
				}

				h1 {
					display: inline;
					font-size: 1em;
					font-weight: normal;
					text-align: left;

					a {
						color: inherit;
					}
				}

				h2 {
					font-size: 1em;
					padding-left: 0;
				}

				p, ul, ol, dl, table {
					font-size: 0.9em;
				}

				p {
					margin: 0;
					padding: 0.5em 0;

					&.more-info {
						background-color: $white; // IE 8 :-(
						@include background(linear-gradient(rgba($white, 0), $white 33%));
						position: absolute;
						bottom: 0;
						padding: 2em 0 1em;
						text-align: left;
						@include span-columns(7 omega);
						display: none;

						span {
							@include border-radius(3px);
							@include pie;
							background-color: $grey;
							color: $white;
							padding: 0.2em 1em;
						}
					}
				}
			}
		}
	}

	.pagination {
		@extend .card-block;
		text-align: center;
		margin: 5px 0;
	}
}

article {
	p.label {
		@include span-columns(4);
		text-align: right;

		&.activities {
			@include span-columns(4 omega);
			color: $oligaa-blue;
			text-align: left;
		}
	}
}
