/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "compass/css3";
@import "compass/css3/border-radius";
@import "config";
@import "calendar";
@import "fullcalendar";
@import "fullcalendar.print";

img {
	border: 0 none;
}

a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

.parent_item {
	font-style: italic;
	background: lightgrey;
	color: brown;
}

#body {
	background-color :#fff;
	font-family :Serif;
	font-size :10pt;
}

#page {
	@include container;

	header {
		@include span-columns(8, 8);
		margin-bottom: 2em;

		h1 {
			@include span-columns(2,8);
			margin: 0.5em 0 0 0;
			padding: 0;
			text-align: right;

			img {
				width: 100%;
			}
		}

		h2 {
			@include span-columns(6,8);
			text-align: center;

			span.motto {
				padding-top: 1em;
			}

			img {
				@include span-columns(1 omega,8);
			}
		}
	}

	#content {
		font-size :10pt;
		@include span-columns(8, 8);

		h1,h2,h3 {
			padding:0;
			margin: 5pt 0;
		}

		h1 {
			text-align: center;
			margin-top: 10pt;
			font-size: 16pt;
			color: $oligaa-blue;
		}

		div#newsletter {
			text-align: justify;

			span#reference {
				@include span-columns(8, 8);
				margin: 2em auto;
				text-align: center;
				padding: 0;
			}

			ul#newsletter_items {
				li.newsletter_item {
					@include clearfix;
					margin: 2em 0;

					h2 {
						color: $oligaa-red;
						font-size: 14pt;
						margin-left: 2em;
					}

					h3 {
						color: $oligaa-yellow;
						font-size: 12pt;
					}

					div.item_desc {
						@include span-columns(7, 8);
					}

					div.item_aside {
						@include span-columns(1 omega, 8);

						img { width: 100%; }

						ul.activities img {
							display: block;
							margin: auto;
							width: 50%;
						}

						ul.gallery {
							list-style-type: none;
							margin: 0;
							padding: 0;
							li {
								display: none;
								&:first-of-type {
									display: block;
								}
								img {
									width: 100%;
								}
							}
						}
					}
				}
			}

			div#partners {
				@include clearfix;
				li {
					text-align: center;
					display: inline-block;
					@include span-columns(2,8);
					height: 150px;

					&.omega {
						@include omega;
					}

					img, span {
						display: block;
						text-align: center;
						margin: auto;
					}
				}
			}
		}


		div#calendar {
		}

		table.index {
			border: 1px solid orange;
			width: 100%;
			border-collapse: collapse;
			th {
				border: 1px solid orange;
				text-align: center;
			}
			td {
				border: 1px solid orange;
				vertical-align: middle;
				padding: 5px;
			}
		}
	}
}


#event_types_filter_form {
	margin: 1em auto;
	#event_types_filter {
		display: inline;
		padding: 0 0.5em;
		li {
			display: inline;
			padding: 0 0.5em;
			margin-right: 5px;
			@include border-radius(3px);
		}
	}
}

.fc-content-skeleton {
	table {
		height: 6em !important;
	}

	thead {
		height: 1em;
	}
}

// Do not display at all
header .ban, nav, footer, .no_print, .admin_link, #member_nav, hr, #quickAccessLinks, .print_to_pdf, iframe, embed, div.fluid-width-video-wrapper, div.breadcrumbs, #toggleMenu {
	display:none;
}
