<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<li>
  <p>
    <span class="no_print">
      <%= custom_delete_link email, :short, class: %w(tight) %>
      <%= custom_edit_link edit_email_path(email), :short, class: %w(tight) %>
      <%= custom_show_link email, email.novel.title, :normal, class: %w(tight) %>
    </span>
    <%= status_icon(email.novel, :public, ["Publiée", "Privée"]) %>
    (<%= email.novel.attached_files.count %>)
  </p>
  <% if email.sent_at %>
  <p>
    Envoyé le <%= l email.sent_at.to_time %> par <%= email.member_name %>.
  </p>
  <% end %>
</li>
