<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<%= simple_nested_form_for @email, :html => { :multipart => true } do |f| %>
	<div class="accordion" data-accordion-active="true">
		<h3>Expéditeur</h3>
	  <div id="sender">
	    <%= f.input :sender, collection: current_member.contacts.map(&:email), include_blank: false, label: "Adresse email" %>
	  </div>
	  <h3>Destinataires</h3>
		<div id="recipients">
			<%= f.input :recipients_by_contact_types, as: :boolean, label: false %>
			<ul id="recipients_by_member_groups">
				<li>Chargements des membres par groupe...</li>
			</ul>
			<ul id="recipients_by_contact_types">
				<li>Chargement des membres par type...</li>
			</ul>

			<%= f.input :other_recipients_enabled, as: :boolean, label: false, input_html: { checked: !@email.other_recipients.blank? } %>
			<p id="other_recipients">
				<%= f.text_area :other_recipients %>
			</p>

		</div>

		<h3>Information</h3>
		<div id="information">
		<%= f.fields_for :novel do |novel_form| %>
			<%= render partial: 'novels/novel_form', locals: {f: novel_form, novel: @email.novel} %>
		<% end %>
		</div>
	</div>
	<%= hidden_field_tag 'email[member_id]', current_member.id %>
  <p><%= f.button :submit %></p>
<% end %>

<script type="text/javascript">
	var recipients_by_member_groups_path = '<%= recipients_by_member_groups_email_path(@email.new_record? ? 0 : @email, params: {:contacts => @contacts.collect(&:id).join(',')}) %>'
	var recipients_by_contact_types_path = '<%= recipients_by_contact_types_email_path(@email.new_record? ? 0 : @email, params: {:contacts => @contacts.collect(&:id).join(',')}) %>'
</script>
