<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Liste des emails' %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link 'Nouvel email', new_email_path %>
  </p>

  <ul id="email_list" class="AdminCard-list">
    <li>
      <h2><%= toggle_link "Non envoyés", '#unsent-emails' %>(<%= @unsent_emails.length %>)</h2>
      <ul id="unsent-emails" style="display:none;">
      <% @unsent_emails.each do |email| %>
        <%= render 'email_index', email: email %>
      <% end %>
      </ul>
    </li>

    <li>
      <h2><%= toggle_link "Déjà envoyés", '#sent-emails' %>(<%= @total_sent_count %>)</h2>
      <ul id="sent-emails" style="display:none;">
      <% @sent_emails.each do |email| %>
        <%= render 'email_index', email: email %>
      <% end %>
      </ul>
    </li>
  </ul>

  <%= will_paginate @sent_emails %>
</div>
