<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title 'Liste des activités' %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <p class="AdminCard-globalActions">
  	<%= custom_add_link "Nouvelle catégorie d'activité", new_activity_category_path %>
  	<%= custom_add_link 'Nouvelle activité', new_activity_path %>
  </p>

  <ol id="activity_list" class="AdminCard-list">
  	<% @activity_categories.each do |cat| %>
  	<li>
      <h2>
        <%= toggle_link cat.title, "#cat-#{cat.id}" %>
        (<%= cat.activities.count %>)
      </h2>
      <div id="cat-<%= cat.id %>" style="display:none;">
        <p class="AdminCard-headingActions no_print">
          <%= custom_delete_link cat, :short, class: %w(tight) %>
          <%= custom_edit_link edit_activity_category_path(cat), :short, class: %w(tight) %>
          <%= custom_primary_show_link cat, :short, class: %w(tight) %>
        </p>
        <ol>
    			<%= render :partial => 'activity', :collection => cat.activities %>
    		</ol>
      </div>
  	</li>
  	<% end %>
  	<% unless @uncategorized_activities.empty? %>
  	<li>
  		<h2><%= toggle_link "Sans type de catégorie", '#uncat' %>(<%= @uncategorized_activities.count %>)</h2>
  		<ul id="uncat" style="display:none;">
  			<%= render :partial => 'activity', :collection => @uncategorized_activities %>
  		</ul>
  	</li>
  	<% end %>
  </ol>
</div>
