<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title @activity.title %>
<% breadcrumb @activity %>

<article class="card-block">
	<h1><%= yield :title %></h1>

	<% if admin? %>
	<p class="AdminCard-globalActions">
		<%= custom_edit_link edit_activity_path(@activity), :short %>
		<%= custom_list_link activities_path %>
	</p>
	<% end %>

	<%= image_tag @activity.poster.url(:standard), :class => "poster_right" if @activity.poster.file? %>

	<%= textilize raw @activity.presentation %>

	<%= textilize raw @activity.description %>

	<%= render 'attachments', data: @activity.attached_files %>

	<% unless @seasoned_events.blank? %>
		<h2>Evénements associés</h2>
		<ul>
			<% @seasoned_events.each do |season, events| %>
				<% season_label = season.downcase.gsub(/\s/, '_') %>
					<li>
						<%= toggle_link season, "##{season_label}" %>
						<ul id="<%= season_label %>" style="display:none;">
							<% events.each do |event| %>
							<li>
								<%= link_to event.title, event_path(event) %>
								(<%= l event.begin_at.to_date unless event.begin_at.blank? %>)
							</li>
							<% end %>
						</ul>
					</li>
			<% end %>
		</ul>
	<% end %>
	<% unless @available_member_groups.empty? %>
	<div id="where2practice">
		<h2>Où pratiquer :</h2>
		<ul>
		<% @available_member_groups.each do |mg| %>
			<li><%= link_to mg.title, filter_members_member_group_path(mg, activities: [@activity.id]), method: :patch  %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
</article>
