/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

@mixin gradient-li-separated {
  @include background(linear-gradient(left, $white, $oligaa-blue, $white));
  @include pie;

  & > li {
    background-color: #FFF;

    & + li {
      margin: 1px 0 0;
    }
  }
}

.admin .AdminCard-list {
  @include gradient-li-separated;
  list-style-type: none;

  & > li {
    padding: 1.2em 0;

    & li {
      padding: 0.25em 0;
    }
  }

  ol, ul {
    list-style-type: none;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.admin .AdminCard-globalActions {
  text-align: center;
}

.admin .AdminCard-headingActions {
  margin-top: -1.7em;
  text-align: left;
}
