/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Off-Canvas-related settings */
$anchor       : 1; // #Columns still visible when menu open
$menu-columns : $total-columns - $anchor;

body {
	@include pie;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Open Sans", verdana, arial, helvetica, sans-serif;
	font-size:   $base-font-size;
	line-height: $base-line-height;

	&.admin {
		@include background(linear-gradient($oligaa-red, $white 256px));
		-pie-background: linear-gradient($oligaa-red, $white 256px);
		@include pie;
	}

	#page {
		@include container;
		overflow: hidden;
		// @include susy-grid-background;

		header {
		}

		#columns {
			@include pie-clearfix();

			nav#main-nav {
				@include span-columns($menu-columns);
				@include transition(300ms ease all);
				margin-left: -100%;
			}

			#content {
				@include span-columns($total-columns);
				margin-right: -100%;
			}

			&.menu-shown {
				nav#main-nav {
					margin-left: 0;
				}

				#content {
					margin-left: gutter(2);
				}
			}
		}

		footer {
		}
	}
}

/* Tablet-enhanced settings */
$content : 4;
$menu-columns : $medium-columns - $content;

@include at-breakpoint($medium-columns) {
	body {
		#page {
			// @include susy-grid-background;

			#columns {
				nav#main-nav {
					@include span-columns($menu-columns);
					margin-left: 0;
				}

				#content {
					@include span-columns($content omega);
				}
			}
		}
	}
}

/* Desktop-enhanced settings */
$content : 6;
$menu-columns : $large-columns - $content;

@include at-breakpoint($large-columns) {
	body {
		#page {
			// @include susy-grid-background;

			#columns {
				nav#main-nav {
					@include span-columns($menu-columns);
					margin-left: 0;
				}

				#content {
					@include span-columns($content omega);
				}
			}
		}
	}
}
