/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

a {
	@include hover-link();
	color: $oligaa-blue;
	padding: 0;
}

.not_ga_published { font-style: italic; color: violet; }

.action_link:link, .action_link:visited {
	color: $oligaa-red;
	padding: 0;
	padding-right: 5px;
	text-transform: none;
}

@mixin button-color($color: slategray, $background-lighten: (100 - lightness($color)) * 9 / 10) {
  border: 0;
  color: $color;
  text-decoration: none;

  .fa {
    @include border-radius(3px);
    @include pie;

    background: lighten($color, $background-lighten);
  }

  &:hover .fa {
    color: white;
    background: $color;
  }
}

.AdminCard-action {

	&:link, &:visited {
		@include button-color;

		margin: 1em 0.5em;

    .fa {
      padding: 0.5em;
    }

    &.tight {
      margin: 0;

      .fa {
        padding: 0.2em 0.5em;
      }
    }

    h3 & {
      padding: 0;
    }
	}

	&.danger {
		@include button-color($oligaa-red);
	}

	&.warning {
		@include button-color($oligaa-yellow);
	}

	&.primary {
		@include button-color($oligaa-blue);
	}

	&.success {
		@include button-color($oligaa-green);
	}

	&.billed {
		@include button-color($oligaa-green);
	}

	& .fa {
		text-align: center;
		width: 1em;
	}

	& span {
		margin-left: 5px;
	}
}

a.expendable {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	&:before {
		@include font-awesome('\f03c');
		padding-right: 5px;
	}
}

a.externe:after {
	@include font-awesome('\f08e');
	padding-left: 0.5em;
	font-size: 75%;
}

a.add_nested_fields, a.remove_nested_fields {
	display: inline-block;
	margin: 10px 0 10px 0;
	border: 1px solid $dark-grey;
	@include border-radius(5px);
	padding: 0.2em 1em;
	@include background(linear-gradient(top, $white, $grey));
	@include pie;
	&:link, &:visited {
		color: black;
	}
	&:hover {
		text-decoration: none;
		@include background(linear-gradient(top, $grey, $white));
		@include pie;
	}
}

.clipboard-btn {
	@include button-color($oligaa-yellow);
	&:hover {
		cursor: copy;
	}
}
