<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<nav id="admin_links">
	<ul>
		<li><%= link_to 'Pages', pages_path, :class => 'action_link' %></li>
		<li><%= link_to "Activités", activities_path(), :class => 'action_link' %></li>
		<li><%= link_to "Evénements", events_path, :class => 'action_link' %></li>
		<li><%= link_to "Informations", novels_path, :class => 'action_link' %></li>
		<li><%= link_to "Emails", emails_path, :class => 'action_link' %></li>
		<li><%= link_to "Membres", members_path, :class => 'action_link' %></li>
		<li><%= link_to "Newsletters", newsletters_path, :class => 'action_link' %></li>
		<li><%= link_to "Partenaires", partners_path, :class => 'action_link' %></li>
		<% if Features::Platform.enabled? %>
		<li><%= link_to "Plateforme", platform_path, :class => 'action_link' %></li>
		<% end %>
		<li><%= link_to "Paramètres", edit_settings_path, :class => 'action_link' %></li>
	</ul>
</nav>
