<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= yield :title %> - <%= ENV['APP_NAME'] %></title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "print", media: :print %>
	<%= custom_css %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body class="<%= 'admin' if admin? %>" data-trail="<%= breadcrumb_trail %>">
	<div id="page">
		<ul id="quickAccessLinks">
			<li><a href="#content" name="top">Aller au contenu</a></li>
			<li><a href="#main-nav">Aller au menu</a></li>
			<li><%= link_to 'Plan du site', controller: 'sitemap' %></li>
		</ul>
		<header role="banner" id="banner">
			<h1>
			<% if settings.site_logo? %>
				<%= link_to image_tag(settings.site_logo.url(:standard), alt: settings.title, class: "logo"), root_path %>
			<% else %>
				<%= settings.title %>
			<% end %>
			</h1>
			<h2>
				<%= image_tag settings.motto_logo.url(:standard), class: "motto_logo" if settings.motto_logo? %>
				<span class="motto"><%= settings.motto %></span>
			</h2>
		</header>
		<section id="columns">
			<button id="toggleMenu"><i class="fa fa-long-arrow-right"></i><i class="fa fa-long-arrow-left"></i> Menu</button>
			<%= render 'layouts/admin_toolbar' if admin? %>
			<%= render 'layouts/sidebar' %>

			<section id="content" role="main">
				<%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
				<%= breadcrumbs %>
				<%= yield %>
				<p id="goToTop" class="no_print"><%= link_to "Haut de page", "#{request.fullpath}#top" %></p>
			</section>
		</section>
		<footer role="contentinfo">
			<%= copyright %> |
			<%= render 'layouts/footer_links' %>
			<%= link_to "Partenaires", display_partners_path if Partner.count > 0 %> |
			<% if settings.contact_email.present? or settings.contact_message.present? %>
			<%= link_to "Nous contacter", new_contact_us_path %> |
			<% end %>
			<%= link_to "Propulsé par OLIGAA", "https://git.framasoft.org/CDSA33/OLIGAA", :class => "externe" %>
			<%= rails_version %>
		</footer>
	</div>
	<%= piwik_tracking_tag %>
</body>
</html>
