<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% contact = f.object %>
<% contact_id = (contact ? contact.id : 0) %>
<li class="edit_contact">
	<%= f.input :civility, collection: {'M.' => 'mr', 'Mme' => 'mme', 'Mlle' => 'mlle'} %>
	<%= f.input :last_name, input_html: {class: "small_string"} %>
	<%= f.input :first_name, input_html: {class: "small_string"} %>
	<%= f.association :contact_type, prompt: 'Choisir une fonction' %>
	ou en créer une nouvelle :
	<%= f.text_field :new_function, class: "small_string" %>
	<%= f.input :email, input_html: {class: "small_string"} %>
	<%= toggle_link "Plus d'infos", "#more_info-#{contact_id}" %>
	<div id="more_info-<%= contact_id %>" style="display: none;" class="more-info">
		<%= f.input :street, input_html: {class: "small_text"} %>
		<%= f.input :postal_code, input_html: {class: "tiny_string"} %>
		<%= f.input :city, input_html: {class: "small_string"} %>
		<ul>
			<%= f.fields_for :phone_numbers %>
			<p><%= f.link_to_add "Ajouter un numéro", :phone_numbers %></p>
		</ul>
	</div>
	<p><%= f.link_to_remove "Supprimer le contact" %></p>
</li>
