<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<p><%= redcloth_help %></p>
<p><span class="shared"></span> : informations publiques.</p>

<%= simple_nested_form_for @member, :html => {:autocomplete => 'off'} do |f| %>
	<%= hidden_field_tag :selected_mg, @mg_id %>
	<div class="tabs">
		<ul id="tabs-links">
			<li><a href="#general">Général</a></li>
			<li><a href="#contacts">Contacts</a></li>
			<li><a href="#activities"><span class="shared">Activités</span></a></li>
			<li><a href="#information"><span class="shared">Informations</span></a></li>
			<% if @member == current_member %>
				<li><a href="#change-password">Mot de passe</a></li>
			<% end %>
		</ul>
		<div id="general">
			<% if admin? %>
	    <%= f.input :admin, as: :radio_buttons %>
	    <%= f.input :blocked, as: :radio_buttons %>
	    <%= f.input :published, as: :radio_buttons %>
	    <%= f.input :registry_date, as: :date_picker %>
			<% end %>
			<%= f.input :name, label_html: { class: 'shared' } %>
			<%= f.input :login, input_html: {class: "small_string"} %>
			<%= f.input :affiliation_number, input_html: {class: "small_string"} %>
			<%= f.association :public_types, as: :check_boxes, label_html: {class: "shared"} %>
			<%= f.association :member_groups, as: :check_boxes if admin?%>
		</div>

		<ul id="contacts">
			<%= f.fields_for :contacts %>
			<p><%= f.link_to_add "Ajouter un contact", :contacts %></p>
		</ul>

		<div id="activities">
			<%= f.association :activities, as: :check_boxes %>
			<%= f.input :other_activities %>
		</div>

		<div id="information">
	    <%= f.input :description %>
			<%= f.input :address, hint: ban_data_gouv_fr_map %>
			<%= localized_status %>
			<%= f.input :website %>
			<%= f.input :join_us %>
			<%= f.input :partners %>
			<%= f.input :more_info %>
		</div>

		<% if @member == current_member %>
			<div id="change-password">
				<%= f.input :password, as: :password %>
				<%= f.input :password_confirmation %>
			</div>
		<% end %>
	</div>
	<p><%= f.button :submit %></p>
<% end %>
