<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% mg_id ||= 0 %>
<li>
  <h3>
    <span class="no_print">
      <%= custom_delete_link member, :short, class: %w(tight) %>
      <%= custom_edit_link edit_member_path(member, mg_id: mg_id), :short, class: %w(tight) %>
      <%= custom_link 'fa-key', 'RAZ MDP', raz_pass_member_path(member), :short, class: %w(tight warning) %>
      <%= custom_show_link member, "#{member.name} - #{member.login}", :normal, class: %w(tight) %>
    </span>
  </h3>
</li>
