<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<li>
	<h2>
		<%= fetch_or_toggle_link "#{member_group.title}", "#mg-#{member_group.id}" %>
	</h2>
  <div style="display:none">
    <p class="AdminCard-headingActions no_print">
      <%= custom_delete_link member_group, :short, class: %w(tight) %>
			<%= custom_edit_link edit_member_group_path(member_group), :short, class: %w(tight) %>
			<%= custom_csv_export_link members_path(format: :csv, mg_id: member_group.id), :short, class: %w(tight) %>
		</p>

  	<ul id="mg-<%= member_group.id %>">
  	</ul>
  </div>
</li>
