<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Carte des membres" %>

<%= form_tag map_members_path, method: :get, id: "members_filter" do -%>
<div class="left">
	Par groupe de membre : <%= check_all_links :male, '#member_groups_filter'  %>
	<ul id="member_groups_filter">
		<% @member_groups.each do |mg| %>
		<li>
			<%= check_box_tag "member_groups[#{mg.id}]", mg.id, (params[:member_groups].include?(mg.id.to_s) if params[:member_groups]), name: "member_groups[]" %>
			<%= label_tag "member_groups[#{mg.id}]", mg.title %>
		</li>
		<% end %>
	</ul>
</div>
<div class="left">
	Par date d'enregistrement : <%= check_all_links :female, '#registry_date_filter'  %>
	<ul id="registry_date_filter">
		<% @registry_dates.each do |date| %>
		<li>
			<%= check_box_tag "registry_dates[#{date}]", date, (params[:registry_dates].include?(date) if params[:registry_dates]), name: "registry_dates[]" %>
			<%= label_tag "registry_dates[#{date}]", date %>
		</li>
		<% end %>
	</ul>
	<%= submit_tag "Filtrer" %>
</div>
<% end -%>

<% unless @markers.empty? %>
<div class="map_container">
	<%= tailored_map(@markers) %>
	<% unless @legend.empty? %>
	<div class="map_legend">
		<ul>Légende :
		<% @legend.each_value do |item| %>
			<li><%= image_tag "marker-icon-#{item[:color]}.png" %><%= item[:name] %></li>
		<% end %>
		</ul>
	</div>
	<% end -%>
</div>

<div id="displayed_members">
 	<h2>Liste des membres trouvés</h2>
	<ul>
	<% @members.each do |member| %>
		<li><%= member.name %></li>
	<% end %>
	</ul>
</div>

<%= yield :scripts %>
<% end -%>
